body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50% {
      opacity: 0.5;
  }
    100% {
        opacity: 1;
    }
}

#home p, .anim2 {
    animation: 3s anim-popoutin ease infinite;
}

@keyframes anim-popoutin {
    0% {
        color: black;
        transform: scale(0);
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    25% {
        color: rgb(56, 56, 56);
        transform: scale(1.1);
        opacity: 1;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }

    50% {
        color: black;
        transform: scale(1);
        opacity: 1;
        text-shadow: 0.5px 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        /* animate nothing to add pause at the end of animation */
        transform: scale(1);
        opacity: 1;
        text-shadow: 0.5px 0 0 rgba(56, 56, 56, 0.482);
    }
}



.anim2{
    animation: 3s anim-popoutin2 ease infinite;
}

@keyframes anim-popoutin2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    25% {
        transform: scale(1.035);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        /* animate nothing to add pause at the end of animation */
        transform: scale(1);
        opacity: 1;
    }
}


.flipX {
    animation: 1s anim-flipX ease infinite;
  }
  @keyframes anim-flipX {
    0% {
      opacity: 0;
      transform: rotateX(90def);
    }
    50% {
      opacity: 1;
      transform: rotateX(720deg);
    }
    100% {
      /* animate nothing to pause animation at the end */
      opacity: 1;
      transform: rotateX(720deg);
    }
  }


  .nav-a{
    --b: 0.1em;   /* the thickness of the line */
  --c: rgb(84, 84, 84); /* the color */
  text-decoration: none;
  color: rgb(16, 0, 0);
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,rgb(0, 0, 0) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }

.nav-a:hover {
    --_p: 100%;
  --_s: .3s;
  color: rgb(84, 84, 84);
}

.butn{
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  font-weight: 400;
border: 0;
background: #dff4fe;
box-shadow: 0 5px 0 #c5eafe;
color: rgb(9, 0, 129);
cursor: pointer;
font: inherit;
margin: 0;
outline: 0;
padding: 8px 15px;
transition: all .2s linear;
}
.butn:active {
  box-shadow: 0 3px 0 #a0e3ff;
  transform: translateY(3px);
}

.under{
  display: inline-block;
  padding-bottom: 6px;
}

@keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-360deg);
    }
  }
  @keyframes depth {
    0% {
      text-shadow: 0 0 #464646;
    }
    25% {
      text-shadow: 1px 0 #464646, 2px 0 #464646, 3px 0 #464646, 4px 0 #464646, 5px 0 #464646;
    }
    50% {
      text-shadow: 0 0 #464646;
    }
    75% {
      text-shadow: -1px 0 #464646, -2px 0 #464646, -3px 0 #464646, -4px 0 #464646,
        -5px 0 #464646;
    }
    100% {
      text-shadow: 0 0 #464646;
    }
  }


  .download{
    border-radius: 50px;
  }
